# Node modules
node_modules/

# Environment variables
venv/
.env/
*.env
env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Optional: build folders if you have any
dist/
build/

# Static/media
staticfiles/
media/

# VS Code
.vscode/

# Other
*.zip

# pycache
*.pyc
__pycache__/

# Ignore all mp4 videos in Firebase public folder
firebase_hosting/public/videos/*.mp4