* {
            box-sizing: border-box;
        }

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

       body {
            min-height: 100vh;
            justify-content: center;
        }

        h1{
            text-align: center;
            color: white;
            text-align: center;
            text-shadow:
            /* Black outline around main text */
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px  1px 0 black,
            1px  1px 0 black,

            /* "Shadow" layer (2px offset, white text duplicated with black outline) */
            2px 2px 0 black,
            1px 1px 0 black,
            3px 3px 0 black;

            text-transform: uppercase;
        }

        .login-link {
            color: #780090; /* text color */
            font-weight: bold; /* bold text */
            text-decoration: underline; /* underline */
            transition: all 0.3s ease; /* smooth hover effects */
        }

        .login-link:hover {
            color: #FFD700; /* change color on hover */
            width: 100%; /* slightly bigger on hover */
        }

        .container{
            text-align: center;
        }

        @media (max-width: 800px){
            .container{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            body{
                display: flex;
            }
        }
